[submodule "app"]
	path = app
	url = git@github.com:multiverse-os/maglev-app.git
[submodule "os/ansi"]
	path = os/ansi
	url = git@github.com:multiverse-os/ansi.git
[submodule "os/service"]
	path = os/service
	url = git@github.com:multiverse-os/service.git
